
django==1.7
django_mailbox==4.1.2
pytz==2014.7

# coverage package for test coverage
coverage==3.7.1

# pydot and graphviz for graphing the models using django_extensions
# graphviz binary should be installed separately
django_extensions==1.4.4
-e git+https://github.com/nlhepler/pydot/#egg=pydot
graphviz==0.4.2
