{% load staticfiles %}

<script src="{% static 'jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'cells.js' %}"></script>
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'styles.css' %}">

<div class="container">

    <img src="{% static 'image.png' %}"/>

    <h1> List of executions due for week ending {{ dates.6|date:"l, d F Y" }}</h1>

    <table class="table-bordered table-striped table-hover table-condensed">
        <thead>
            <tr>
                <td>App</td>
                {% for date in dates %}
                    <td>{{ date|date:"Y-m-d" }}<br>{{ date|date:"l"}}</td>
                {% endfor %}
            </tr>
        </thead>

        {% for app_day_exec in execution_matrix %}
            <tr>
                <td><a href="{% url 'admin:batch_apps_app_change' app_day_exec.0.0.app.id %}">{{ app_day_exec.0.0.app.name }}</a></td>

                {% for day in app_day_exec %}
                    <td class="is_due_{{ day.0.is_due_today }} is_executed_{{ day.0.is_executed }}"></td>
                {% endfor %}
            </tr>
        {% endfor %}
        
    </table>
</div>

<div class="container"> &nbsp </div>
