{% load staticfiles %}

<script src="{% static 'jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'cells.js' %}"></script>
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'styles.css' %}">

<div class="container">

    <img src="{% static 'image.png' %}"/>

    <h1> List of executions due for week ending {{ dates.6|date:"l, d F Y" }}</h1>

    <table class="table-bordered table-striped table-hover table-condensed">
        <thead>
            <tr>
                <td>App</td>
                <td>{{ dates.0|date:"Y-m-d" }}<br>{{ dates.0|date:"l"}}</td>
                <td>{{ dates.1|date:"Y-m-d" }}<br>{{ dates.1|date:"l"}}</td>
                <td>{{ dates.2|date:"Y-m-d" }}<br>{{ dates.2|date:"l"}}</td>
                <td>{{ dates.3|date:"Y-m-d" }}<br>{{ dates.3|date:"l"}}</td>
                <td>{{ dates.4|date:"Y-m-d" }}<br>{{ dates.4|date:"l"}}</td>
                <td>{{ dates.5|date:"Y-m-d" }}<br>{{ dates.5|date:"l"}}</td>
                <td>{{ dates.6|date:"Y-m-d" }}<br>{{ dates.6|date:"l"}}</td>
            </tr>
        </thead>
        {% for app_day_exec in execution_matrix %}
            <tr>
                <td>{{ app_day_exec.0.0.app.name }}</td>
                <td class="is_due_{{ app_day_exec.0.0.is_due_today }} is_executed_{{ app_day_exec.0.0.is_executed }}"></td>
                <td class="is_due_{{ app_day_exec.1.0.is_due_today }} is_executed_{{ app_day_exec.1.0.is_executed }}"></td>
                <td class="is_due_{{ app_day_exec.2.0.is_due_today }} is_executed_{{ app_day_exec.2.0.is_executed }}"></td>
                <td class="is_due_{{ app_day_exec.3.0.is_due_today }} is_executed_{{ app_day_exec.3.0.is_executed }}"></td>
                <td class="is_due_{{ app_day_exec.4.0.is_due_today }} is_executed_{{ app_day_exec.4.0.is_executed }}"></td>
                <td class="is_due_{{ app_day_exec.5.0.is_due_today }} is_executed_{{ app_day_exec.5.0.is_executed }}"></td>
                <td class="is_due_{{ app_day_exec.6.0.is_due_today }} is_executed_{{ app_day_exec.6.0.is_executed }}"></td>
            </tr>
        {% endfor %}
    </table>
</div>

<div class="container"> &nbsp </div>
